.idea
.vs
build
build/modorganizer_super/modorganizer
downloads
eggs/decorator
eggs/jinja2
eggs/lxml/
eggs/networkx/
eggs/patch/
eggs/psutil/
eggs/pydot/
eggs/pydotplus/
eggs/PyYAML
eggs/six/
eggs/*.egg
install
progress

*.sln
*.pyc
*.pyproj
.gitmodules
7za.exe
complete.uni.py
.vs
.gitmodules
install
*.sln
*.pyproj
graph.png
Thumbs.db
